In [1]:
import pandas as pd
import sqlite3

In [47]:
create="""
CREATE TABLE Ages (
  name VARCHAR(128),
  age INTEGER
);

"""

In [48]:
executesql= sqlite3.connect('exam1.db')
cur= executesql.cursor()
executesql.execute(create)
executesql.commit()

In [66]:
"""del1= "DELETE from Ages;"
cur.execute(del1)"""

'del1= "DELETE from Ages;"\ncur.execute(del1)'

In [49]:
q1=[('Mara', 28),('Otto', 33),('Fyn', 31),('Neshawn', 17)]

In [50]:
ins= "insert into Ages values(?,? )"

In [51]:
cur.executemany(ins,q1)

In [59]:
#fetch data
qr = "select hex(name||age) as X from Ages order by X;"
rs=cur.execute(qr)

In [60]:
rs.fetchall()

[('46796E3331',),
 ('4D6172613238',),
 ('4E65736861776E3137',),
 ('4F74746F3333',)]

In [63]:
# fetch first row 
qr = "select hex(name||age) as X from Ages order by X limit 1 ;"
rs=cur.execute(qr)
s=rs.fetchall()

In [65]:
print("The first row in the resulting record set : ",s[0][0])

The first row in the resulting record set :  46796E3331